.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(45deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  background-size: 500% 500%;
  animation: rainbow 5s linear infinite;
  border: 2px solid #000;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #d9d9d9;
}

.hidden {
  display: none;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.white-text {
  color: white;
}