body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    text-align: center;
}

.bricks {
    background: firebrick;
}

.bricksHeading > img {
    height: 10rem;
}

.bricksHeading {
    display: flex;
    gap: 1rem;
}

.bricksInput {
    display: flex;
    gap: 1rem;
}

@media (max-width:1340px) {
    
}
